body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
header{
    display: flex;
    border-bottom: 2px solid grey;
    width: 100%;
    justify-content: center;
}
#div-principal{
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 50px;
}
#login-button{
    margin-top: 20px;
    background-color: rgb(146, 104, 185);
    border-radius: 5px;
    font-weight: bold;
    height: 25px;
}
#product-container{
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: flex-start;
    width: 80%;
    flex-wrap: wrap;
}
#section-ecommerce{
    display: flex;
    width: 85%;
}
#sidebar-search{
    width: 15%;
    margin-right: 20px;
}
#sidebar-search input{
    margin-top: 10px;
    width: 100%;
}
#sidebar-ecommerce{
    width: 10%;
}
.nav-button{
    display: block;
    margin-top: 10px;
    background-color: rgb(115, 185, 104);
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    font-size: 13.5px;
    transition: 0.5s;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 138px;
}
.nav-button:hover{
    transform: scale(1.1);
}
#text-quantity{
    margin-bottom: 5px;
}
#section-cart{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
}
#cart-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
#cart-container h2{
    text-align: center;
}
#sidebar-cart{
    width: 10%;
}
#empty-button{
    width: 152px;
    color: black;
    background-color: rgb(231, 121, 121);
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    font-size: 13.5px;
    transition: 0.5s;
    margin-top: 7px;
}
#empty-button:hover{
    transform: scale(1.1);
}
.product-card{
    background-color: rgb(242, 238, 229);
    border: 2px solid black;    
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 20%;
}
.product-button{
    height: 30px;
    background-color: rgb(187, 150, 222);
    border-radius: 5px;
    transition: 0.5s;
}
.product-button:hover{
    background-color: rgb(126, 70, 190);
    color: white;
    transform: scale(1.1);
}
.error-text{
    display:none;
    color: red;
}
.cart-product-card{
    background-color: rgb(242, 238, 229);
    border: 2px solid black;    
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 20%;
}
.cart-product-card h2{
    font-size: 23px;
    font-weight: bold;
}
.cart-buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0px;
}
.minus-button{
    height: 50%;  
    width: 20px;  
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-right: 3px;
}
.plus-button{
    height: 50%;    
    width: 20px;  
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-right: 3px;
}
.delete-button{
    height: 50%;    
    width: 40px;  
    text-align: center;
    padding: 0px;
    margin: 0px;
}
